* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: black;
}

header {
  background: black;
  color: red;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  border-bottom: 3px solid red;
  margin-bottom: 20px;
}

a {
  background: lightyellow;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  border-radius: 0 50px 50px 0;
  padding: 10px 5px;
  text-decoration: none;
  margin: 0 5px 5px 0;
}

i {
  margin: 0 5px;
}

div {
  display: flex;
  align-items: center;
}

span {
  background: black;
  color: lightyellow;
  padding: 5px;
  border-radius: 50px;
  margin-left: 5px;
  font-size: 8px;
}

footer {
  background: black;
  color: red;
  font-size: 12px;
  padding: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}