* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: black;
}

header {
  background: black;
  color: red;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  border-bottom: 3px solid red;
  margin-bottom: 20px;
}

button{
  background-image: url(https://cdn.syncdev.com.br//uploads/video_thumb/13371.jpg);
  width: 160px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  border-radius: 10px;
}

button div{
  width: 100%;
  padding: 5px;
}

button div span {
  background: black;
  color: lightyellow;
  padding: 5px;
  border-radius: 50px;
  font-size: 10px;
}

footer {
  background: black;
  color: red;
  font-size: 12px;
  padding: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}